PORT=4000
NODE_ENV=development
BETTER_AUTH_SECRET=change-me-please-change-me-please
BETTER_AUTH_URL=http://localhost:4000
CLIENT_URL=http://localhost:5173
DB_HOST=localhost
DB_PORT=5432
DB_USER=app
DB_PASSWORD=app
DB_NAME=app_db
